<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>כניסה / הרשמה</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="icon" href="/icons/icon-512.png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="card">
    <h2>התחברות באימייל</h2>
    <div class="row">
      <label>שם מלא</label>
      <input id="nameInput" type="text" placeholder="דוגמה: יעל כהן" />
    </div>
    <div class="row">
      <label>אימייל</label>
      <input id="emailInput" type="email" placeholder="name@example.com" />
    </div>
    <div class="row">
      <label>שם העסק</label>
      <input id="tenantNameInput" type="text" placeholder="דוגמה: חנות של יעל" />
      <span class="help-text">השם שיופיע בחשבוניות והזמנות</span>
    </div>
        <div class="row">
      <label>מספר טלפון</label>
      <input id="tenantPhoneInput" type="text" placeholder="דוגמא: 0521771725" />
      <span class="help-text">מספר הטלפון שיוצג כשל המנהל</span>
    </div>
    <button id="sendEmailCodeBtn" type="button">שלח קוד למייל</button>
    <div id="codeBlock" class="row hidden">
      <label>הכנס קוד שקיבלת</label>
      <input id="codeInput" type="text" placeholder="6 ספרות" />
      <button id="verifyEmailCodeBtn" type="button">אמת והתחבר</button>
    </div>
    <div class="muted" id="hint"></div>
  </div>
  <script defer src="/js/ui.js"></script>
  <script defer src="/js/login.js"></script>
</body>
</html>